body {
    margin:initial;
    background-image: url("brownPaperBG.png"); /**this could be done later after everything is done but rn the svg files cut off for some reason butapowehfioawhf **/
    background-color: bisque;
    font-family: ligurino, sans-serif;
}
.a1 {
    text-decoration: none;
    font-weight: 900;
    color: black
}

.insta{
    width: 20px;
    height: 20px;
    position: sticky;
    text-align: right;
    left: 1400px;
}

.SITE_HEADER {
    position:fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    min-width: 1000px;
    background-color: aliceblue;
}

.linedpaper {
    position:relative;
    top: 0;
    right: 0;
    width: 100%;
    min-width: 1000px;
    font-family: ligurino, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom:-200px;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.head1 {
    font-size: 90px;
    position: relative;
    top: 350px;
    text-align: center;
}

.button {
    position: relative;
    /* top: 140px; */
    text-align: center;
    /* background-color: rgb(104, 104, 112); */
    background-color: transparent;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    border: 2px solid black;
    font-size: 16px;
}

.new-edition {
    position: relative;
    top: 600px;
    right: 0;
    width: 100%;
    min-width: 1000px;
    background-color: aliceblue;
    margin-bottom: 30px;
}

.new-edition-cover {
    position: relative;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.columns1 {
    column-count: 2;
    column-gap: 200px;
}

.looking {
    position: relative;
    top: 760px;
    right: 0;
    background-color: rgb(181, 183, 183);
    padding: 150px 450px;
}

.logo1 {
    width: 150px;
    height:100px;
}

.menu1 {
    position: relative;
    bottom: -30px;
    text-decoration: solid;
    font-size: smaller;
}
  